
MOOC-kurssi/ud851-Exercises-student/Lesson01-Favorite-Toys/T01.01-Solution-CreateLayout/
MOOC-kurssi/ud851-Exercises-student/Lesson01-Favorite-Toys/T01.01-Solution-DisplayToyList/
MOOC-kurssi/ud851-Exercises-student/Lesson01-Favorite-Toys/T01.01-Solution-AddScrolling/

MOOC-kurssi/ud851-Exercises-student/Lesson2-GitHub-Repo-Search/
MOOC-kurssi/ud851-Exercises-student/Lesson3-Green-Recycler-View/
MOOC-kurssi/ud851-Exercises-student/Lesson4a-Starting-New-Activities/
MOOC-kurssi/ud851-Exercises-student/Lesson4b-Webpages-Maps-and-Sharing/
MOOC-kurssi/ud851-Exercises-student/Lesson5a-Android-Lifecycle/
MOOC-kurssi/ud851-Exercises-student/Lesson5b-Smarter-GitHUb-Repo-Search/
MOOC-kurssi/ud851-Exercises-student/Lesson6-Visualizer-Preferences/
MOOC-kurssi/ud851-Exercises-student/Lesson7-Waitlist/
MOOC-kurssi/ud851-Exercises-student/Lesson8-Quiz-Example/
MOOC-kurssi/ud851-Exercises-student/Lesson9-ToDo-List/
MOOC-kurssi/ud851-Exercises-student/Lesson10-Hydration-Reminder/
MOOC-kurssi/ud851-Exercises-student/Lesson11-Completeing-The-UI/
MOOC-kurssi/ud851-Exercises-student/Lesson12-Visual-Polish/
